<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/39f61a2ea3.js" crossorigin="anonymous"></script>
  <title>WhatToDo</title>
  <link rel="stylesheet" href="/css/home.css">
</head>

<body>
 <header>
  <nav class="navbar">
    <div class="navbar-container container">
      <input type="checkbox" name="" id="">
      <div class="hamburger-lines">
        <span class="line line1"></span>
        <span class="line line2"></span>
        <span class="line line3"></span>
      </div>
      <ul class="menu-items">
        <li><a href="#">About</a></li>
        <li><a href="#">Sign Up</a></li>
        <li><a href="#">Login</a></li>
      </ul>
      <h1 class="logo">Whattodo</h1>
    </div>
  </nav>
 </header>
<main>
  <section class="discover">
    <h1></h1>
  </section>
  <section>
    <div class="search-container">
      <form action="" class="form-search">
        <div>
          <label for="">Location</label>
          <input type="text">
        </div>
        <hr>
        <div>
          <label for="">Date</label>
          <input type="date">
        </div>
        <hr>
        <div>
          <label for="">Guests</label>
          <input type="text">
        </div>
        <hr>
        <div>
          <label for="">Experience</label>
          <input type="text" placeholder="">
        </div>
        <hr>
        <button> 
        <i class="fa-solid fa-arrow-right" id="icon" style="color: #000000;"></i>
        </button>
        </form>
    </div>
  </section>

</main>

</body>

</html>