.modal-container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.dropdown{
    z-index: 10;
}

.modal-content {
    position: relative;
    background: white;
    padding: 20px;
    border-radius: 15px;
    width: 100%;
    color: #000;
}

.modal-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.modal-header h2{
    margin-left: 10px;
}

.close-button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.modal-search-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.modal-categories, .modal-filters {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20
}

.categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.filters{
    display: flex;
}

.category-button {
    padding: 10px;
    margin: 5px;
    border: none;
    background: #f0f0f0;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category-icon {
    font-size: 2rem; 
    margin-bottom: 5px;
}


.filter-button {
    padding: 10px;
    margin: 5px;
    border: none;
    background: #f0f0f0;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter-icon {
    font-size: 2rem; 
    margin-bottom: 5px;
}


.modal-search-button {
    padding: 15px 30px;
    border: none;
    background-color: #000;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 20px;
    width: 100%;
    box-sizing: border-box; 
    transition: background-color 0.3s; 
}

.modal-search-button:hover {
    background-color: #555;
}

.titulos{
    margin-top: 20px;
}

input {
    border: 1px solid #bbb3b3;
    border-radius: 8px;
    height: 35px; /* Ajustado para más espacio */
    margin: 10px;
    padding: 0 10px; /* Agrega padding horizontal */
    font-size: 16px; /* Tamaño de fuente más grande */
    color: #333; /* Color de fuente para mejor contraste */
  }
  
  input[type="date"] {
    width: 181px;
    border: 1px solid #bbb3b3;
    border-radius: 8px;
    height: 35px; /* Ajustado para más espacio */
    margin: 10px;
    padding: 0 10px; /* Agrega padding horizontal */
    font-size: 16px; /* Tamaño de fuente más grande */
    color: #333; /* Color de fuente para mejor contraste */
  }
  
  /* Puedes necesitar ajustes adicionales para navegadores específicos */
  

.modal-body input[type="text"]{
    width: 100%;
    max-width: 462px;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 20px;
    font-size: 1rem;
    outline: none;
    position: relative;
    height: 50px;
}

.search-button {
    padding: 15px 30px;
    border: none;
    background-color: #1188A1; 
    color: #fff;
    border-radius: 20px; /* Bordes redondeados */
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold; 
    width: 50%; 
    margin-top: 20px; 
    transition: background-color 0.3s ease; 
    box-shadow: 0 4px 6px rgba(0,0,0,0.2); 
}

.search-button:hover, .search-button:focus {
    background-color: #1188A1; 
    outline: none; 
}

.modal-overlay{
    position: absolute;
    z-index: 10;
    top: 117px;
    width: 100%;
}

.precio-cont{
    display:flex;
    width:70%;
    align-items: center;
}

.info-cont{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.info-cont label{
    margin-left:20px
}

.modal-search{
    margin:0;
}

.fl{
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
}