<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>WhatToDo</title>
  <link rel="stylesheet" href="/css/home.css">
</head>

<body>
 <header>
  <nav class="navbar">
    <div class="navbar-container container">
      <input type="checkbox" name="" id="">
      <div class="hamburger-lines">
        <span class="line line1"></span>
        <span class="line line2"></span>
        <span class="line line3"></span>
      </div>
      <ul class="menu-items">
        <li><a href="#">About</a></li>
        <li><a href="#">Sign Up</a></li>
        <li><a href="#">Login</a></li>
      </ul>
      <h1 class="logo">Whattodo</h1>
    </div>
  </nav>
 </header>
<main>
  <section class="discover">
  </section>
  <section>
    <div class="search-container">
      <ul>
        <!-- <li>Home</li>
        <li>About</li>
        <li>Category</li>
        <li>Menu</li>
        <li>Sign Up</li>
        <li>Login</li> -->
      </ul>
    </div>
  </section>

</main>

</body>

</html>