header a {
  text-decoration: none;
  color: rgb(180, 178, 178);
}

.li-nav {
  margin-top: 10px;
  margin-right: 2em;
}
.lista {
  width: 70%;
  display: flex;
  justify-content: flex-end;
}
#logo {
  width: 90%;
  margin: 10px;
}
h1 {
  color: rgb(0, 0, 0);
  text-align: center;
}

.nav-var {
  color: rgb(236, 236, 236);
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  font-size: 1rem;
  padding: 0px;
  width: 100%;
  height: 110px;
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 20;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
}

.burger-menu {
  display: none;
  color: #ffffff;
  border-radius: 8px;
  font-size: 40px;
  background-color: transparent;
  border: none;
  margin-right: 20px;
}

.burger-menu:hover{
  background-color: transparent;
}

.lista-nav {
  display: flex;
  list-style: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 60%;
  margin: 5px;
}

.container-user {
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: space-around;
}

.top {
  width: 40%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top button{
  background: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  height: 70px;
  border: none;
  margin-top: 5px;
}

.top img {
  border-radius: 50%;
}

.logoSide{
  width: 40% !important;
  display: flex;
}

.dropdown-item{
  height: 30px;
  padding: 10px;
  color: white;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-item:hover{
  border-radius: 12px;
}

.offcanvas-body li{
  list-style: none;
}

.offcanvas{
  width: 40%;
}

.top p {
  margin: 0;
  font-size: 15px;
  color: #fff;
}
.offcanvas-header{
  border-bottom: 1px solid #d9c6c6;
  height: 70px;
}
.offcanvas-body ul{
 margin: 0;
 padding: 0;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.offcanvas-body button.logout{
  width: 60%;
}

.bottom {
  width: 77px;
  height: 30%;
  display: flex;
  flex-direction: column;
}

.logout {
  height: 50%;
  width: 110%;
  color: black;
  background-color: #ffffff44;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin-top: 17px;
}

.logo {
  width: 150px;
}

.lista.is-active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #000;
}

.offcanvas , .offcanvas-start{
  transform: none;
  margin: 10px;
  width: 240px;
  border-radius: 12px;
}


.offcanvas.show:not(.hiding), .offcanvas.showing {
  background: linear-gradient(195deg, rgb(66, 66, 74), rgb(25, 25, 25));
  width: 240px;

  ul{
    padding: 0;
    margin: 0;
  }
}


.dropdown-menu.show {
  background: linear-gradient(169deg, rgb(66, 66, 74), rgb(25, 25, 25));
}

@media (max-width:1000px) {
  .lista-nav{
    width: 85%;
  }
  
}

@media (max-width: 768px) {
  .burger-menu {
    display: block;
  }

  .lista-nav {
    flex-direction: column;
    display: none; 
  }

  .lista-nav.is-active {
    display: flex;
  }

  .li-nav {
    text-align: center;
    padding: 10px;
    width: 100%;
  }
}

.navbar-action {
  border: 1px solid black;
  cursor: pointer;
  margin-left: 1rem;
  font-weight: bold;
  padding: 10px;
  border-radius: 15px;
  color: #fff;
}

.login {
  border: none;
  background-color: #1188a1;
}
