*{
	box-sizing: border-box;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Bold.ttf');
	font-weight: 700;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Book.ttf');
	font-weight: 400;
}

body{
  font-family: 'Centra', sans-serif !important;
  background-color: #3a77a0;
}

.App {
  text-align: center;
}

.navbar{
  padding: 0%;
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fade-in {
    animation: fadeIn 1s ease-out;
  }


body{
  background-color: #fff;
  /* height: 100vh; */
  /* background-image: url('./assets/img/pexels-roberto-nickson-2559941.jpg');
  background-size: cover; 
  background-repeat: no-repeat;  */
}





