*{
	box-sizing: border-box;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Bold.ttf');
	font-weight: 700;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Book.ttf');
	font-weight: 400;
}

body{
  font-family: 'Centra', sans-serif !important;
}
/* 
html{
  background: #f0f0f0;
} */

.App {
  text-align: center;
}

.navbar{
  padding: 0%;
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fade-in {
    animation: fadeIn 1s ease-out;
  }

  .my-title-class {
    font-size: 16px; /* Menor tamaño para el título */
  }
  
  .my-content-class {
    font-size: 14px; /* Menor tamaño para el contenido */
  }
  

  .input-error {
    border: 1px solid red;
  }
  
  .error-message {
    color: red;
    margin-top: 5px;
  }
  


body{
  background-color: #fff;
  /* height: 100vh; */
  /* background-image: url('./assets/img/pexels-roberto-nickson-2559941.jpg');
  background-size: cover; 
  background-repeat: no-repeat;  */
}





