.search-bar-container {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.searchprin{
    width: 100%;
    max-width: 462px;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 20px;
    font-size: 1rem;
    outline: none;
    position: relative;
    top: 84px;
    height: 70px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}



.search-bar-container input[type="text"]::placeholder {
    color: #aaa; 
}


.search-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}