.css-1jbvxuw-MuiPaper-root-MuiAppBar-root {
    background-color: transparent;
    left: 0;
}

.css-92s7n6-MuiPaper-root-MuiAppBar-root  {
    left: 0 !important;
    margin: 10px !important;
    color: black;
    width: 94vw !important;
}