.discover-our-bests {
    background-color: #f5f5f5; 
    text-align: center;
}

.discover-our-bests .container {
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
}

.discover-our-bests h2 {
    margin-bottom: 20px;
    font-size: 2rem;
}

.discover-our-bests p {
    margin-bottom: 30px;
    color: #666;
}


.carrusel{
    max-width: 564px;
    margin-left: 70px;
    position: relative;
    bottom: 175px;
}

.te-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    position: relative;
    left: 50%;
    top: 40px;
}