.discover-our-bests {
    background-color: #f5f5f5;
    text-align: center;
    display: flex;
    flex-direction: row-reverse;
    padding: 20px;
    justify-content: space-around;
    align-items: center;

}

.discover-our-bests .container {
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
}

.discover-our-bests h2 {
    margin-bottom: 20px;
    font-size: 2rem;
}

.discover-our-bests p {
    margin-bottom: 30px;
    color: #666;
}


/* .carrusel{
    margin-left: 70px;
} */

.te-left{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    align-items: center;
    width: 600px;
}

.te-right{
    max-width: 50%;
    align-items: center;
    width: 600px;
}

.container-best{
    display: flex;
}

@media (max-width:760px) {
    .discover-our-bests{
        flex-direction: column;
    }
    .te-right{
        width: 80%;
        min-width: 400px;
    }
    .te-left{
        width: 80%;
        min-width: 400px;
    }
}