
 
.registration-container {
    max-width: 400px;

    padding: 20px;
    background-color: #f4f4f4d4;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    position: relative; 
}
  
  .registration-container2 {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #f4f4f4ad;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }

  .registrationForm {
    display: flex;
    flex-direction: column;
  }
  
  .registrationForm input[type="text"],
  .registrationForm input[type="email"],
  .registrationForm input[type="password"],
  .registrationForm input[type="file"],
  .registrationForm select {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc; 
    border-radius: 4px;
    width: calc(100% - 22px); 
    margin-right: 10px;
    background-color: #fff;
  }
  
  .registrationForm button {
    padding: 10px;
    background-color:#1188A1;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 30px;
    height: 5vh;
    cursor: pointer;
    margin-top: 10px;
    width: 40%;
  }
  
  .registrationForm button:hover {
    color: #fff;
  }

  .see-password2{
    display: flex;
  }


  #keep{
    width: 62.8%;
    display: flex;
    justify-content: center;
    margin-left: 10px;
    font-size: 0.8rem;
  }

  #keep-session{
    margin: 0 !important;
    width: 20px;
    height: auto;
  }
 

  .formflex{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .formcolumn{
    display: flex;
    flex-direction: column;
  }

  .formcolumn input{
    width: 100%;
  }
  form input{
    width: 100%;
  }

  .registrationForm svg{
    padding: 10px;
  }

  h3{
    color: #393f41;
    font-size: 25px;
  }

  @media (max-width: 1144px) {
    .registration-container {
      margin-right: 5%; 
      margin-left: 40%;
    }
  }
  

  @media (max-width: 768px) {
    .registration-container {
      margin: 23vh auto
    }
  }

  @media (max-width: 468px) {
    .registration-container {
      margin: 23vh 4vw
    }
  } 

  
  .error-message {
    color: #ff3860; /* Color rojo para los errores */
    margin-top: 5px; /* Espacio arriba del mensaje de error */
    font-size: 0.85rem; /* Tamaño del texto */
    line-height: 1.2; /* Espaciado de línea para el mensaje */
}

.formflex .error-message {
    margin-left: 10px; /* Espacio a la izquierda si el error está al lado de un input */
}

/* Si prefieres que el mensaje de error esté debajo del input */
.formcolumn .error-message {
    margin-left: 10px; /* Espacio a la izquierda del mensaje de error */
}


.input-error {
  border: 1px solid red;
}

.error-message {
  color: red;
  /* Otros estilos para tu mensaje de error */
}
