.hero {
    position: relative;
    width: 80%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 20px;
    height: 250px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.45);
  }

  .hero-content.modal-open {
    .hero-title{
      display: none;
    } 
    }
  
  .hero-title {
    color: rgb(0, 0, 0);
    text-align: center;
    position: absolute;
    left: 75%;
    max-width: 290px;
    margin-top: 50px;
    font-size: 2.7rem;
    width: 503px;
}
  

  .hero-cont {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; /* Centrar verticalmente */
    width: 100%;
    height: 100vh; /* O la altura que desees para tu sección */
    overflow: hidden;
  }
  
  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .txt-rotate > .wrap {
    border-right: 0.08em solid #666;
  }
  
  .hero-content {
    position: relative;
    z-index: 1;
    width: 50vw;
    height: 90%;
  }

  .container-title{
    margin-top: 110px;
  }
  
  @media (max-width: 1600px) { 
.hero-content{
  width: 40vw;
}
  }

  @media (max-width: 1400px) {
.hero-content.modal-open{
  width: 58vw;
}
  } 

  @media (max-width: 1250px) { 
    .hero-title {
      left: 60%;
    }
  }
  @media (max-width: 1000px) { 
    .hero-title {
      left: 50%;
    }
    .hero-content.modal-open {
      width: 80vw; 
      }
  }

  @media (max-width: 855px) {

    .hero-title{
        font-size: 2rem;
    }

    .hero-title {
      left: 40%;
    }


  }

  @media (max-width: 760px) { 
    .hero-title {
      left: 20%;
    }
  }

  @media (max-width: 680px) { 
    .hero-title {
      left: 0%;
    }

    .hero-cont{
      height: 120vh;
    }
  }

  @media (max-width: 450px) { 
    .hero-title {
      left: -05%;
    }

    .hero-content{
      width: 60vw;
    }
    .hero-cont{
      height: 136vh;
    }
  }